*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}
:root {
	--Very-dark-desaturated-blue: hsl(238, 29%, 16%);
	--Soft-red: hsl(14, 88%, 65%);
	--gradient-violet: hsl(273, 75%, 66%);
	--gradient-blue: hsl(240, 73%, 65%);
	--very-dark-grayish-blue: hsl(237, 12%, 33%);
	--dark-grayish-blue: hsl(240, 6%, 50%);
	--light-grayish-blue: hsl(240, 5%, 91%);
	--fs: 12px;
}


body{
    font-family: 'Kumbh Sans', sans-serif;
	font-size: var(--fs);
	display:flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-image: linear-gradient(var(--gradient-violet), var(--gradient-blue));
}


.accordion__container{
	margin:3rem;
	display:flex;
	max-width: 56rem;
	width:100%;
	height:auto;
	padding:1.25rem;
	border-radius:1.25rem;
	background-color: hsl(0, 0%, 100%);
}

h1{
	text-align: center;
}

.accordion__question {
	display: flex;
	align-items: center;
	font-weight: 400;
	color: var(--very-dark-grayish-blue);
	border: none;
	cursor: pointer;
	background-color: transparent;
}
.accordion__question:focus {
	font-weight: 800;
}

.accordion__rotate__arrow{
	margin-left:0.625rem;
}

.rotate{
	transform: rotate(180deg);
	transition: transform .3s ease-in;
}


.accordion__answare {
	display: none;
	height: 0;
	overflow: hidden;
	color: var(--dark-grayish-blue);
	transition: 0.3s ease-in;
}


.accordion__answare.active {
	display: block;
}

@media screen and (max-width: 590px) {
	.accordion__container {
		display: flex;
		flex-direction: column;
		width: 500px;
		margin: 20px;
		padding: 20px;
	}

	h1{
		margin-top:20px;
	}
 }